<form method='post' action='/users' style="border:1px solid #ccc">
 <div class="container">
  <h1> Welcome to Discuss Plus! </h1>
  <p>Please fill in this form to create an account.</p>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" required>

  <label for="password"><b>Password</b><label>
  <input type="password" placeholder="Enter Password" name="password" required>
  <input type="submit" value="Signup"
  </div> 
</form>
