<!DOCTYPE html>
 <html>
  <head>
   <h2> Welcome <%= @user.name || @new_user.name %>  </h2>
   </head>
   <body> 
   <div class="container">
     <div class="centered">
     <p>To view all discussion, please click
     <input type="button" onclick="window.location.href='/posts'" value="Discussions"></p> 
     <p>To create a post, please click 
     <input type="button" onclick="window.location.href='/posts/new'" value="Create Post">
     </p>
    </div>


</html>