
<div class"nav">
<a href="/posts">Discussions</a>
<a href="/logout">Logout</a>
</div><br>

<h2> Create a discussion post </h2>

<form method='post' action='/posts'>
 
<h4> <label for="topic">Topic:</label> </h4>
<input type="text" placeholder="Enter Topic" name="topic"><br><br>

<h4> <label for="content">Content:</label> </h4>
<textarea name="content" rows="10" cols="30"></textarea>
  <br><br>

<label for="date">Date:</label>
  <input type="date" id="date" name="date">
  <input type="submit">
        
</form>                       