<!DOCTYPE html>
<html>
 <head>
 <h2>Welcome to Discuss Plus Message Board</h2>

    
    <div class"nav">
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/signup">Signup</a>
    </div><br>
 
 
 <div
 class="canva-embed"
 data-design-id="DAD94BJhw48"
 data-height-ratio="0.5625"
 style="padding:56.2500% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"
></div>
<script async src="https:&#x2F;&#x2F;sdk.canva.com&#x2F;v1&#x2F;embed.js"></script>

    
  
    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
</html>